<html>
  <head>
    <title>MCP/A2A</title>
  </head>

  <body>
    <div x-data>
      <template x-if="$store.settings">
        <div>
          <nav>
            <ul>
              <li>
                <a href="#section-mcp-client">
                  <img src="/public/mcp_client.svg" alt="External MCP Servers" />
                  <span>External MCP Servers</span>
                </a>
              </li>
              <li>
                <a href="#section-mcp-server">
                  <img src="/public/mcp_server.svg" :alt="$store.branding.name + ' MCP Server'" />
                  <span x-text="$store.branding.name + ' MCP Server'"></span>
                </a>
              </li>
              <li>
                <a href="#section-a2a-server">
                  <img src="/public/a2a_server.svg" :alt="$store.branding.name + ' A2A Server'" />
                  <span x-text="$store.branding.name + ' A2A Server'"></span>
                </a>
              </li>
              <li>
                <a href="#section-mcp-services">
                  <img src="/public/mcp_client.svg" alt="MCP Services" />
                  <span>Services</span>
                </a>
              </li>
            </ul>
          </nav>

          <div id="section-mcp-client" class="section">
            <x-component path="settings/mcp/mcp_client.html"></x-component>
          </div>
          <div id="section-mcp-server" class="section">
            <x-component path="settings/mcp/mcp_server.html"></x-component>
          </div>
          <div id="section-a2a-server" class="section">
            <x-component path="settings/a2a/a2a-server.html"></x-component>
          </div>
          <div id="section-mcp-services" class="section">
            <x-component path="settings/mcp/services/mcp-services.html"></x-component>
          </div>
        </div>
      </template>
    </div>
  </body>
</html>
